jgfjgf

<ion-card>
    <ion-card-header class="text-center" >
      <div> 
          <ion-icon name="calendar-outline"></ion-icon>
          Sep 28, 2021 a las 13:30
      </div>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col class="text-center">
            <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
            <div class="fw-bolder">Victoria Nacional A</div>
            <div class="fs-6 fw-light lh-1 text-muted">
              <small>LOCAL</small>
            </div>
          </ion-col>
          <ion-col class="text-center">
              <div style="padding-top: 20px">
                  <span class="fs-2 p-4 font-monospace">0</span>
                  <span class="text-muted">v/s</span>
                  <span class="fs-2 p-4 font-monospace">0</span>
              </div>
          </ion-col>
          <ion-col class="text-center">
            <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
            <div class="fw-bolder">Victoria Nacional A</div>
            <div class="fs-6 fw-light lh-1 text-muted">
              <small>LOCAL</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>