<ion-content>


  <app-game-scoreboard></app-game-scoreboard>



  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card class="m-1">
          <ion-card-content>
            <ion-list class="pt-0">
              <ion-list-header>
                <ion-label class="fw-bolder">Victoria Nacional</ion-label>
                <ion-button>Formación</ion-button>
                <ion-button>Minuto</ion-button>
              </ion-list-header>


              <ion-item-sliding>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-label class="bg-secondary text-center text-white p-1">
                      <span class="fs-5 fw-bold">13</span>
                    </ion-label>
                  </ion-avatar>
                  <ion-label class="p-2">
                    Juan Maldonado
                  </ion-label>
                  <ion-badge color="danger">2</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Stats</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-label class="bg-secondary text-center text-white p-1">
                      <span class="fs-5 fw-bold">13</span>
                    </ion-label>
                  </ion-avatar>
                  <ion-label class="p-2">
                    Juan Maldonado
                  </ion-label>
                  <ion-badge color="danger">2</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Stats</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-label class="bg-secondary text-center text-white p-1">
                      <span class="fs-5 fw-bold">13</span>
                    </ion-label>
                  </ion-avatar>
                  <ion-label class="p-2">
                    Juan Maldonado
                  </ion-label>
                  <ion-badge color="danger">2</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Stats</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-label class="bg-secondary text-center text-white p-1">
                      <span class="fs-5 fw-bold">13</span>
                    </ion-label>
                  </ion-avatar>
                  <ion-label class="p-2">
                    Juan Maldonado
                  </ion-label>
                  <ion-badge color="danger">2</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Stats</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-label class="bg-secondary text-center text-white p-1">
                      <span class="fs-5 fw-bold">13</span>
                    </ion-label>
                  </ion-avatar>
                  <ion-label class="p-2">
                    Juan Maldonado
                  </ion-label>
                  <ion-badge color="danger">2</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Stats</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>


            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="text-center">
        <ion-card></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>