<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Game Live</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true">

  <div class="text-center bg-white text-dark p-4" *ngIf="loading">
    <h6>Cargando...</h6>
    <img src="assets/image/loading/basket-loading4.gif">
  </div>

  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col>
        <app-game-scoreboard [game]="element" [quarters]="quarters" [activeQuarter]="activeQuarter" [gameStats]="gameStats" (events)="eventQuarters($event)"></app-game-scoreboard>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-game-lineup (stats)="eventStats($event)" [game]="element" [team]="element.local" [activeQuarter]="activeQuarter" [typeTeam]="'LOCAL'"></app-game-lineup>
      </ion-col>
      <ion-col>
        <app-game-lineup (stats)="eventStats($event)" [game]="element" [team]="element.visitor" [activeQuarter]="activeQuarter" [typeTeam]="'VISITOR'"></app-game-lineup>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>