<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Game</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-game-summary></app-game-summary>

  
  <ion-grid>
    <ion-row>

      <ion-col size="8" >

        <ion-card>
          <ion-card-header class="text-center">
            Sep 28, 2021 a las 13:30
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col class="text-center">
                  <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
                  <div class="fw-bolder">Victoria Nacional</div>
                  <div class="fs-6 fw-light lh-1 text-muted">
                    <small>LOCAL</small>
                  </div>
                </ion-col>
                <ion-col class="text-center">
                  <div style="padding-top: 20px">
                    <span class="fs-2 p-4 font-monospace">0</span>
                    <span class="text-muted">v/s</span>
                    <span class="fs-2 p-4 font-monospace">0</span>
                  </div>

                </ion-col>
                <ion-col class="text-center">
                  <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
                  <div class="fw-bolder">Dite</div>
                  <div class="fs-6 fw-light lh-1 text-muted">
                    <small>LOCAL</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="4" >

        <ion-card>
          <ion-card-content class="text-center">

            <h1>
              <ion-icon name="time-outline"></ion-icon>
              00:00:00
            </h1>
            <h2 class="semibold mb0">1er Cuarto</h2>

            <hr>

            <div>
              <ion-button color="primary" class="m-2">Iniciar</ion-button>
              <ion-button color="primary" class="m-2">Pausar</ion-button>
              <ion-button color="danger" class="m-2">Detener</ion-button>
            </div>
          </ion-card-content>
        </ion-card>







      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col>

        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                <ion-label></ion-label>
                <ion-button>Formación</ion-button>
                <ion-button>Minuto</ion-button>
              </ion-list-header>

              <ion-item-sliding>
                <ion-item>
                  <ion-badge color="primary" class="p-2">11</ion-badge>
                  <ion-label class="p-2">David Maldonado</ion-label>
                  <ion-badge color="danger">66</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Cambiar</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-badge color="primary" class="p-2">11</ion-badge>
                  <ion-label class="p-2">David Maldonado</ion-label>
                  <ion-badge color="danger">66</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Cambiar</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-badge color="primary" class="p-2">11</ion-badge>
                  <ion-label class="p-2">David Maldonado</ion-label>
                  <ion-badge color="danger">66</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Cambiar</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-badge color="primary" class="p-2">11</ion-badge>
                  <ion-label class="p-2">David Maldonado</ion-label>
                  <ion-badge color="danger">66</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Cambiar</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-badge color="primary" class="p-2">11</ion-badge>
                  <ion-label class="p-2">David Maldonado</ion-label>
                  <ion-badge color="danger">66</ion-badge>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option>Cambiar</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>



            </ion-list>

          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col>

        <ion-card>
          <ion-card-content>
          </ion-card-content>
        </ion-card>


      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>