<div class="fs-6 font-monospace">
  {{activeQuarter?.number}} {{activeQuarter?.name}}
</div>
<h1 class="fs-1 font-monospace">
  <ion-icon name="time-outline" class="fs-5"></ion-icon>
  {{timetext}}
</h1>

<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" [disabled]="activeQuarter.state=='play'" (click)="startCount()">Iniciar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" [disabled]="activeQuarter.state=='pause' || stateWatch=='stop'" (click)="pauseCount()">Pausar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="block" [disabled]="activeQuarter.state=='stop'" (click)="stopQuarter()">Detener</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="tertiary" expand="block" class="m-1" (click)="logs()" >Registros</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<!--ion-card>
  <ion-card-content class="text-center">
    <h1 class="fs-1 font-monospace">
      <ion-icon name="time-outline" class="fs-3"></ion-icon>
      {{timetext}}
    </h1>
    <hr>
    <div>
      <ion-button color="primary" class="m-2" [disabled]="activeQuarter.state=='play'" (click)="startCount()">Iniciar</ion-button>
      <ion-button color="primary" class="m-2" [disabled]="activeQuarter.state=='pause' || stateWatch=='stop'" (click)="pauseCount()">Pausar</ion-button>
      <ion-button color="danger" class="m-2" [disabled]="activeQuarter.state=='stop'" (click)="stopQuarter()">Detener</ion-button>
    </div>
  </ion-card-content>
</ion-card-->